<h1>Confirm Your email please</h1>

<p>
THIS WILL EVENTUALLY SEND YOU TO A GET REQUEST page that confirms your email and sends a post request with the confirmation token
<br>
Click here to confirm your email.
<%= @confirmation_token %>
</p>
